{{yield}}

<div class="game">
    <div class="detail">
        {{map-view}} 

        <div class="feed">
            <div class="message">{{typingLog}}</div>

            {{#each log as |str|}}
                <div class={{if (eq str "") "message blank" "message"}}>{{if (eq str "") "" str}}</div>
            {{/each}}

            <div class="compose">
                {{ input value=compose enter="sendCommand" key-up="handleKeyUp" }}
            </div>
        </div>
    </div>

    <div class="interact">
        <!-- some other stuffs -->
        <div class="something"></div>
    </div>
</div>